@import "variables.scss";
//Measurements  px = Monkey, rem AKA relative unit 1REM = 10px, vw = viewport width vh = viewport height

$colors: (
    primary: #45a29e,
    primary-light: #66fcf1,
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}
$mainFont: "Josefin Sans", sans-serif; 
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; // 1rem === 10px; 
    font-family: $mainFont;
}

.header {
    font-size: 5rem; 
    background-image: linear-gradient(
        to right bottom, 
        rgba(color(primary), 0.5),
        rgba(color(primary-light), 0.5) 
    ),
    url("headphones-bg 1.jpg");
    height: 100vh;
    background-size: cover;
   //background-position: bottom;
   /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  */
   position: relative;
}

/* h1 {
    color: red;
}
.header-primary {
    color: limegreen;
}
#alston {
    color: blue;
}
*/

.header-text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
}

.header-primary-main {
   display: block; 
   font-size: 10rem;
   letter-spacing: 1rem;
   text-shadow: #333 3px 3px;
}

.header-primary-sub {
    font-size: 4rem;
}